{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block head_js %}
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %} {% block content %} {% for Car_detail in details %}
<div class="car-detail-image">
    <img class="materialboxed car-img" src="{{ MEDIA_URL }}{{ Car_detail.image }}">
</div>
{% endfor %}
<div class="car_details">
    <h1>Made/Brand: {{ car.brand }}</h1>
    <h1>Model: {{ car.model }}</h1>
    <h1>Year: {{ car.year }}</h1>
    <h1>Fuel Type: {{ car.fuel_type }}</h1>
    <h1>Body Type: {{ car.body_type }}</h1>
    <h1>Colour: {{ car.colour }}</h1>
    <h1>Engine Size (Litres): {{ car.engine_size }} litre</h1>
</div>
<div class="goback">
    <form method="post" action="{% url 'cars' %}">
        {% csrf_token %}
        <div class="goback">
            <button class="btn btn-warning btn-lg" type="submit">Go Back</button>
        </div>
    </form>
</div>
{% endblock %}