@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
body {
    font-family: 'Baloo Bhai', cursive;
    padding-top: 100px;
}

h3{
    font-family: 'Baloo Bhai', cursive;
}

.car-img{
    width: 200px;
    height: 200px;
    float: right;
    margin-top: 5%;
    margin-left: 10px;
    margin-bottom: 5%;
}

.goback{
    float: right
}
    
footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.car {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 280px;
    height: 200px;
    margin: 0 auto;
    padding: 50px;
    transition: transform .2s; /* Animation */
}

car:hover{
    transform: scale(5.5);
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.car-brand {
    min-height: 40px;
}
 .display{
     text-align: center;
 }

input{
    border-radius: 10px;
    outline: none
}
.search{
    border-radius: 10px;
    outline: none;
    background-color: blue
}
p{
    text-align: center;
    font-size: x-large
}